@import "./commom.css";
:root {
  --white: #fff;
  --black: #000;
  --bright-gray: #dfdfdf;
  --light-gray: #bbb;
  --gray: #999;
  --slate-gray: #555;
  --dark-gray: #222;
  --bright-red: #ff8d8d;
  --light-red: #ff4242;
  --red: red;
  --slate-red: #bb0000;
  --dark-red: #8b0000;
  --bright-orange: #fbc69d;
  --light-orange: #fda15a;
  --orange: orange;
  --slate-orange: #d68b00;
  --dark-orange: #c37f00;
  --bright-yellow: #ffff8c;
  --light-yellow: #ffff4c;
  --yellow: yellow;
  --slate-yellow: #d2d200;
  --dark-yellow: #888800;
  --bright-green: #00cd00;
  --light-green: #00ae00;
  --green: green;
  --slate-green: #096a09;
  --dark-green: #006000;
  --bright-blue: #5964ff;
  --light-blue: #383bff;
  --blue: blue;
  --slate-blue: #0000c1;
  --dark-blue: #00008e;
  --bright-purple: #eb58ff;
  --light-purple: #e100ff;
  --purple: #c000d9;
  --slate-purple: #ac00c2;
  --dark-purple: #720081;
  --gold: gold;
  --magenta: magenta;
  --navy: navy;
  --cyan: cyan;
}
#logo_svg path {
  stroke: black;
  stroke-width: 2;
  fill: none;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 3s infinite forwards 3s;
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
  }
}
